In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import math
#import plotly.express as px
from pprint import pprint
import csv, time
import random
import requests, re, json
from bs4 import BeautifulSoup

In [4]:
data = pd.read_csv('transfers.csv')
data

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
1,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
2,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia
3,1047109,2026-06-30,25/26,2672,265,APO Levadiakos,Panathinaikos,0.0,100000.0,Georgios Katris
4,360791,2025-12-31,25/26,6418,1030,Panetolikos,Argentinos Jrs.,0.0,1200000.0,Lucas Chaves
...,...,...,...,...,...,...,...,...,...,...
77926,35207,1995-07-01,95/96,42281,11896,PTSV Dort. Yth.,Dortmund Yth.,0.0,NaN,Marco Reus
77927,22141,1994-07-01,94/95,59178,29463,Castellammare,Sorrento Youth,NaN,NaN,Antonio Mirante
77928,33829,1994-07-01,94/95,58405,53957,FC Penafiel You,Sporting Yth.,NaN,NaN,José Fonte
77929,40680,1994-07-01,94/95,47320,47318,Lichtenw. Yth.,Schornbach Yth.,0.0,NaN,Sven Ulreich
77930,61989,1993-07-01,93/94,55345,55343,A. Ickern Yth.,VfR Rauxel Yth.,0.0,NaN,Michael Esser

In [16]:
recentData = data[data['transfer_season'] == '18/19']
wolvesIn = recentData[recentData['to_club_name']== 'Wolves']
wolvesIn

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
41999,233124,2019-06-30,18/19,405,543,Aston Villa,Wolves,0.0,1000000.0,Kortney Hause
42270,361254,2019-06-30,18/19,472,543,UD Las Palmas,Wolves,0.0,3000000.0,Rafa Mir
42987,175446,2019-01-31,18/19,13,543,Atlético Madrid,Wolves,21000000.0,12000000.0,Jonny Otto
43699,180843,2019-01-01,18/19,475,543,Sint-Truiden,Wolves,0.0,500000.0,Paul Gladon
44724,168157,2018-08-09,18/19,58,543,RSC Anderlecht,Wolves,0.0,17000000.0,Leander Dendoncker
44746,525247,2018-08-09,18/19,7123,543,Maidenhead Utd.,Wolves,4750000.0,NaN,Maximilian Kilman
44757,204103,2018-08-08,18/19,641,543,Middlesbrough,Wolves,20000000.0,8000000.0,Adama Traoré
45038,175446,2018-07-26,18/19,13,543,Atlético Madrid,Wolves,0.0,12000000.0,Jonny Otto
45083,29364,2018-07-24,18/19,162,543,Monaco,Wolves,5600000.0,10000000.0,João Moutinho
45604,45026,2018-07-01,18/19,336,543,Sporting CP,Wolves,18000000.0,16000000.0,Rui Patrício
45743,142310,2018-07-01,18/19,720,543,FC Porto,Wolves,12000000.0,5000000.0,Willy Boly
45839,206040,2018-07-01,18/19,294,543,Benfica,Wolves,0.0,15000000.0,Raúl Jiménez
46136,340950,2018-07-01,18/19,13,543,Atlético Madrid,Wolves,14000000.0,12000000.0,Diogo Jota
46206,357158,2018-07-01,18/19,162,543,Monaco,Wolves,2250000.0,500000.0,Rúben Vinagre
46782,504581,2018-07-01,18/19,12801,543,Wolves U18,Wolves,NaN,NaN,Ryan Giles

In [55]:
print(wolvesIn['transfer_fee'].sum())
wolvesIn.describe()

97600000.0

,player_id,from_club_id,to_club_id,transfer_fee,market_value_in_eur
count,15.000000,15.000000,15.0,1.400000e+01,1.300000e+01
mean,243269.933333,1579.200000,543.0,6.971429e+06,8.615385e+06
std,146686.810094,3575.632276,0.0,8.244222e+06,6.031700e+06
min,29364.000000,13.000000,543.0,0.000000e+00,5.000000e+05
25%,171801.500000,110.000000,543.0,0.000000e+00,3.000000e+06
50%,204103.000000,336.000000,543.0,3.500000e+06,1.000000e+07
75%,349054.000000,558.000000,543.0,1.350000e+07,1.200000e+07
max,525247.000000,12801.000000,543.0,2.100000e+07,1.700000e+07

In [56]:
wolvesOut= recentData[recentData['from_club_name']== 'Wolves']
wolvesOut

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
41866,168157,2019-06-30,18/19,543,58,Wolves,RSC Anderlecht,0.0,18000000.0,Leander Dendoncker
41921,206040,2019-06-30,18/19,543,294,Wolves,Benfica,0.0,35000000.0,Raúl Jiménez
43065,175446,2019-01-30,18/19,543,13,Wolves,Atlético Madrid,0.0,12000000.0,Jonny Otto
43361,180843,2019-01-16,18/19,543,202,Wolves,FC Groningen,0.0,500000.0,Paul Gladon
43547,233124,2019-01-07,18/19,543,405,Wolves,Aston Villa,0.0,1000000.0,Kortney Hause
44242,180843,2018-08-31,18/19,543,475,Wolves,Sint-Truiden,0.0,700000.0,Paul Gladon
45073,361254,2018-07-23,18/19,543,472,Wolves,UD Las Palmas,0.0,1500000.0,Rafa Mir
46119,345763,2018-07-01,18/19,543,475,Wolves,Sint-Truiden,0.0,350000.0,Duckens Nazon

In [72]:
recentData = data[data['transfer_season'] == '18/19']
fulhamIn = recentData[recentData['to_club_name']== 'Fulham']
fulhamIn

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
42932,144303,2019-01-31,18/19,31,931,Liverpool,Fulham,0.0,5000000.0,Lazar Markovic
43621,169801,2019-01-02,18/19,349,931,Barnsley FC,Fulham,0.0,750000.0,Cauley Woodrow
44679,207302,2018-08-09,18/19,368,931,Sevilla FC,Fulham,0.0,12000000.0,Sergio Rico
44691,315131,2018-08-09,18/19,985,931,Man Utd,Fulham,0.0,7000000.0,Timothy Fosu-Mensah
44693,354361,2018-08-09,18/19,244,931,Marseille,Fulham,24850000.0,18000000.0,Frank Anguissa
44739,215118,2018-08-07,18/19,11,931,Arsenal,Fulham,0.0,14000000.0,Calum Chambers
44926,51152,2018-07-30,18/19,762,931,Newcastle,Fulham,24700000.0,15000000.0,Aleksandar Mitrović

In [73]:
fulhamIn['transfer_fee'].sum()

49550000.0

In [74]:
dataPos = pd.read_csv('game_lineups.csv')
dataPos

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
0,b2dbe01c3656b06c8e23e9de714e26bb,2013-07-27,2317258,1443,610,Christian Poulsen,substitutes,Defensive Midfield,5,0
1,b50a3ec6d52fd1490aab42042ac4f738,2013-07-27,2317258,5017,610,Niklas Moisander,starting_lineup,Centre-Back,4,0
2,7d890e6d0ff8af84b065839966a0ec81,2013-07-27,2317258,9602,1090,Maarten Martens,substitutes,Left Winger,11,0
3,8c355268678b9bbc7084221b1f0fde36,2013-07-27,2317258,12282,610,Daley Blind,starting_lineup,Left-Back,17,0
4,76193074d549e5fdce4cdcbba0d66247,2013-07-27,2317258,25427,1090,Roy Beerens,starting_lineup,Right Winger,23,0
...,...,...,...,...,...,...,...,...,...,...
2191906,563b02d753e317425a8d5061fd3f405e,2024-03-16,4300789,816124,543,Noha Lemina,substitutes,Attacking Midfield,\n 14\n,0
2191907,6984340b1985d0bccb155b38ea6188c9,2024-03-16,4300789,863741,543,Nathan Fraser,starting_lineup,Centre-Forward,\n 63\n,0
2191908,ef247c29468b34d12891b711fafb3770,2024-03-16,4300789,965924,990,Kai Andrews,substitutes,Centre-Forward,\n 54\n,0
2191909,8f5659d28d5211aa1d443835a8d45591,2024-03-16,4300789,1043634,543,Leon Chiwome,substitutes,Centre-Forward,\n 84\n,0
2191910,ab38057d0de49d178d9bd46eb2735a20,2024-03-16,4300789,1080392,543,Fletcher Holman,substitutes,Centre-Forward,\n 37\n,0

In [75]:
fulhamPos = dataPos[dataPos['club_id']== 931]
fulhamPos

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
47616,29aaacef45e059b8d093427801a8864c,2013-10-05,2331960,65,931,Dimitar Berbatov,starting_lineup,Centre-Forward,9,0
47617,aa536f52b0dfc3d0e591175a8d075e74,2013-10-05,2331960,1662,931,Sascha Riether,starting_lineup,Right-Back,27,0
47619,39513bf52449add5d77fb59d2dc99ed3,2013-10-05,2331960,3259,931,Damien Duff,starting_lineup,Left Midfield,16,0
47622,91f597df09086c4aa391010aee77f2bb,2013-10-05,2331960,3548,931,Kieran Richardson,substitutes,Left-Back,15,0
47625,860985cc070695448ecca60b9bf9c1aa,2013-10-05,2331960,4277,931,Philippe Senderos,starting_lineup,Centre-Back,4,0
...,...,...,...,...,...,...,...,...,...,...
2188258,4f5bae81176f4cc9c03cee9aa5c224a1,2024-01-27,4268998,349701,931,Antonee Robinson,starting_lineup,Left-Back,\n 33\n,0
2188260,9112ad6584773541807c3924c3b16955,2024-01-27,4268998,381469,931,Steven Benda,substitutes,Goalkeeper,\n 23\n,0
2188264,4a74cb67fe1d4681117758a1ea664ac3,2024-01-27,4268998,525287,931,Carlos Vinícius,substitutes,Centre-Forward,\n 30\n,0
2188265,f0d43d32a91c000eb5fb94e9cdc0a361,2024-01-27,4268998,528888,931,Tyrese Francois,substitutes,Central Midfield,\n 35\n,0
2188267,d3742c5dd977f27873bd282f6cd4c361,2024-01-27,4268998,735571,931,Rodrigo Muniz,starting_lineup,Centre-Forward,\n 19\n,0

In [77]:
mergedFulham = pd.merge(fulhamPos, fulhamIn, on='player_id', how='inner')
mergedFulham = mergedFulham[mergedFulham['date'] >= '2018-08-01']
mergedFulham = mergedFulham[mergedFulham['date'] <= '2019-08-01']
mergedFulham['type'] = np.where(mergedFulham['type'] == 'starting_lineup', 1, 0)
mergedFulham

,game_lineups_id,date,game_id,player_id,club_id,player_name_x,type,position,number,team_captain,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name_y
14,dd045a0484621109dcddfa7ba8b56744,2018-08-11,3050169,51152,931,Aleksandar Mitrovic,1,Centre-Forward,9,0,2018-07-30,18/19,762,931,Newcastle,Fulham,24700000.0,15000000.0,Aleksandar Mitrović
15,d3a683ba256f39fbcfb953fe89c65037,2018-08-18,3050185,51152,931,Aleksandar Mitrovic,1,Centre-Forward,9,0,2018-07-30,18/19,762,931,Newcastle,Fulham,24700000.0,15000000.0,Aleksandar Mitrović
16,1aa42541bf1fb4099b42c269f0649e94,2018-08-26,3050189,51152,931,Aleksandar Mitrovic,1,Centre-Forward,9,0,2018-07-30,18/19,762,931,Newcastle,Fulham,24700000.0,15000000.0,Aleksandar Mitrović
17,ea0fcb1cafdd67c7b379fe30555a40fc,2018-09-01,3050197,51152,931,Aleksandar Mitrovic,1,Centre-Forward,9,0,2018-07-30,18/19,762,931,Newcastle,Fulham,24700000.0,15000000.0,Aleksandar Mitrović
18,1d546ad06ad79115f8f8ff4aa42a6685,2018-09-15,3050211,51152,931,Aleksandar Mitrovic,1,Centre-Forward,9,0,2018-07-30,18/19,762,931,Newcastle,Fulham,24700000.0,15000000.0,Aleksandar Mitrović
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,f72d299932c93ac67fd4f92bfe2fdfea,2019-04-27,3050536,354361,931,Frank Anguissa,1,Defensive Midfield,29,0,2018-08-09,18/19,244,931,Marseille,Fulham,24850000.0,18000000.0,Frank Anguissa
223,cf4c4a2af71c3a7641d983587ac0e2d9,2019-05-04,3050560,354361,931,Frank Anguissa,1,Defensive Midfield,29,0,2018-08-09,18/19,244,931,Marseille,Fulham,24850000.0,18000000.0,Frank Anguissa
224,d887d3de41414d2dafa46d191834d91e,2019-05-12,3050564,354361,931,Frank Anguissa,1,Defensive Midfield,29,0,2018-08-09,18/19,244,931,Marseille,Fulham,24850000.0,18000000.0,Frank Anguissa
264,42a97cd79a9616a1255a89f9280c8cca,2019-02-22,3050436,144303,931,Lazar Markovic,0,Left Winger,30,0,2019-01-31,18/19,31,931,Liverpool,Fulham,0.0,5000000.0,Lazar Markovic
265,fe962b0e67269ed57d2c6da2220d1ea5,2019-02-27,3050444,144303,931,Lazar Markovic,0,Right Winger,30,0,2019-01-31,18/19,31,931,Liverpool,Fulham,0.0,5000000.0,Lazar Markovic

In [78]:
leftWing = mergedFulham[mergedFulham['position']=='Left Winger']
#leftWing

,game_lineups_id,date,game_id,player_id,club_id,player_name_x,type,position,number,team_captain,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name_y
264,42a97cd79a9616a1255a89f9280c8cca,2019-02-22,3050436,144303,931,Lazar Markovic,0,Left Winger,30,0,2019-01-31,18/19,31,931,Liverpool,Fulham,0.0,5000000.0,Lazar Markovic

In [79]:
rightWing = mergedFulham[mergedFulham['position']=='Right Winger']
#rightWing

,game_lineups_id,date,game_id,player_id,club_id,player_name_x,type,position,number,team_captain,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name_y
265,fe962b0e67269ed57d2c6da2220d1ea5,2019-02-27,3050444,144303,931,Lazar Markovic,0,Right Winger,30,0,2019-01-31,18/19,31,931,Liverpool,Fulham,0.0,5000000.0,Lazar Markovic

In [118]:
dm = mergedFulham[mergedFulham['position']=='Defensive Midfield']
#dm

In [119]:
pos = {}
for i in mergedFulham.index:
    if mergedFulham['player_id'][i] in pos:
        if mergedFulham['position'][i] not in pos[mergedFulham['player_id'][i]]:
            pos[mergedFulham['player_id'][i]].append(mergedFulham['position'][i])
    else:
        pos[mergedFulham['player_id'][i]] = [mergedFulham['position'][i]]
pos

{51152: ['Centre-Forward'],
 207302: ['Goalkeeper'],
 215118: ['Centre-Back', 'Right-Back', 'Defensive Midfield', 'Right Midfield'],
 315131: ['Right-Back', 'Centre-Back'],
 354361: ['Defensive Midfield', 'Central Midfield'],
 144303: ['Left Winger', 'Right Winger']}

In [120]:
newDF = mergedFulham.groupby('player_id').agg(total = ('type','count'), starts =('type','sum'), fee = ('transfer_fee', 'mean'), value = ('market_value_in_eur', 'mean'), playerId = ('player_id','mean'))
newDF

           total  starts         fee       value  playerId
player_id
51152         38      37  24700000.0  15000000.0   51152.0
144303         2       0         0.0   5000000.0  144303.0
207302        35      29         0.0  12000000.0  207302.0
215118        34      30         0.0  14000000.0  215118.0
315131        16      10         0.0   7000000.0  315131.0
354361        26      16  24850000.0  18000000.0  354361.0

In [121]:
newDF['position'] = newDF['playerId'].map(pos)
newDF

,total,starts,fee,value,playerId,position
player_id,,,,,,
51152,38,37,24700000.0,15000000.0,51152.0,[Centre-Forward]
144303,2,0,0.0,5000000.0,144303.0,"[Left Winger, Right Winger]"
207302,35,29,0.0,12000000.0,207302.0,[Goalkeeper]
215118,34,30,0.0,14000000.0,215118.0,"[Centre-Back, Right-Back, Defensive Midfield, ..."
315131,16,10,0.0,7000000.0,315131.0,"[Right-Back, Centre-Back]"
354361,26,16,24850000.0,18000000.0,354361.0,"[Defensive Midfield, Central Midfield]"

In [123]:
newDF['start%'] = (newDF['starts']/newDF['total'])*100
newDF

,total,starts,fee,value,playerId,position,start%
player_id,,,,,,,
51152,38,37,24700000.0,15000000.0,51152.0,[Centre-Forward],97.368421
144303,2,0,0.0,5000000.0,144303.0,"[Left Winger, Right Winger]",0.000000
207302,35,29,0.0,12000000.0,207302.0,[Goalkeeper],82.857143
215118,34,30,0.0,14000000.0,215118.0,"[Centre-Back, Right-Back, Defensive Midfield, ...",88.235294
315131,16,10,0.0,7000000.0,315131.0,"[Right-Back, Centre-Back]",62.500000
354361,26,16,24850000.0,18000000.0,354361.0,"[Defensive Midfield, Central Midfield]",61.538462